.center {
  text-align: center;
}

.logo-div {
  float: left;
  background: url(assets/pimp-my-code-logo.png) no-repeat top;
  background-size: 135px;
  width: 128px;
  height: 128px;
  margin-right: 20px;
}

.jumbotron {
  height: 71px;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #474545;
}

.jumbotron h1 {
  font-size: 2.5rem;
  color: #F5F5F5;
  font-weight: bold;
}

.help-block {
  color: red
}

.title {
  font-size: 1.9rem;
  color: #5E5E5E;
}

.subtitle {
  font-size: 0.8rem;
  color: #9B9B9B;
}

.link {
  cursor: pointer;
  color: #9B9B9B;
  font-size: 0.7rem;
  font-weight: bold;
}

.auth-form {
  background-color: #F5F5F5;
}
