<div class="container">
  <div class="row margin-tp">
    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
      <!-- login form -->
      <div class="card card-body center auth-form">
        <p class="font-weight-normal title">Connexion</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <fieldset class="form-group">
            <input type="email" placeholder="Email" class="form-control" formControlName="email" required>
            <span
              *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.errors['required'] && loginForm.controls.email.touched"
              class="help-block">Email obligatoire</span>
            <span
              *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.errors['email'] && !loginForm.controls.email.errors['required'] && loginForm.controls.email.touched"
              class="help-block">Veuillez entrer un mail valide</span>
          </fieldset>

          <fieldset class="form-group">
            <input type="password" placeholder="Mot de passe" class="form-control" formControlName="password" required>
            <span
              *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.errors['required'] && loginForm.controls.password.touched"
              class="help-block">Mot de passe obligatoire
                </span>
          </fieldset>

          <fieldset class="form-group">
            <button pButton type="submit" label="Se connecter" class="p-button-secondary"
                    [disabled]=!loginForm.valid></button>
          </fieldset>
          <span (click)="forgotPasswordCall()" class="link">Mot de passe oublié ?</span><br/>
          <span (click)="registerCall()" class="link">Pas encore de compte ?</span>
          <p>{{loading}}</p>
          <p>{{message}}</p>
        </form>
      </div>
    </div>
  </div>
</div>




